body{
    background-color: black;
}
h1{
    color: azure;
    border-style: solid;
    border-color: lime;
    border-radius: 20px;
    text-shadow: 3px 3px 5px yellow;
    
}
#text2{
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}
#text3{
    color: chartreuse;
}
.check4{
    color: crimson;
}