
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;0,900;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
body{
  height: 100vh;
  background: linear-gradient(to right, green ,rgb(71, 198, 230));
}
.card{
  margin: 120px auto;
  width: 320px;
  height: 420px;
  background: rgb(19, 1, 36);
  border-radius: 20px;
  padding: 20px;
  color: white;
  position: relative;
  
}
.card_heart, .card_cart{
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 15px
}
.card_cart{
  left: unset;
  right: 20px;
}
.card_heart:hover i{
  color: red;
}
.card_cart:hover i{
  color: rgb(198, 230, 18);
}
.card_img{
  width: 90%;
  margin: 20px auto;
  transition: 0.5s;

}
.card_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_title p,.card_price p{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;

}
.card_price {
  margin-bottom: 10px;
}
.card_title {
  color: aqua;
}
.card_size,.card_color{
  display: flex;
  align-items: center;
  margin: 5px;
}

.card_size span{
  padding: 1px 5px ;
  background-color: rgb(189, 182, 173);
  margin: 0px 2px;
  border-radius: 5px;
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 5px);
  text-align: center;
  border: 1px;
  
}
.card_color span{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin: 2px 5px;
  border-style: solid;
  border-width:2px ;
}
.card_color_green{

  background: greenyellow;

}
.card_color_red{
  background: rgb(241, 31, 16);
}
.card_color_black{
  background: rgb(10, 15, 3);
}
.card_action button{
  background: rgb(20, 182, 20);
  border: none;
  color: white;
  padding: 7px 15px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.5s;
  

}
.card:hover .card_img{
  transform: translateY(-90px) rotate(360deg);
  zoom: 50%;
  
}
.card:hover .card_title p, .card:hover .card_price p{
  transform: translate(-45px,-55px) rotate(-360deg);
  color: gold;
  border: none;
  font-size: 40px;
  
}
.card_size{
  margin-top: 150px;
}
.card_size,.card_color,.card_action{
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay:0.4s ;
}
.card:hover .card_size,
.card:hover .card_color,
.card:hover .card_action{
  visibility: visible;
  opacity: 100;
}
.card:hover .card_size{
  margin-top: -30px;
}
.card_action button:hover{
  transform: scale(0.9);
}
.header{
  position: fixed;
  align-items: center; 
  top:0;
  /* left: 50%; */
  z-index: 100;
  width: 100%;
  background: linear-gradient(to right, green ,rgb(71, 198, 230));
}
.header .logo{
  display: grid;
  position: relative;
  font-size: 40px;
  left: 50%;
  font-weight: bold;
  color: aqua;
  
}
.shopping {
  position: relative;
  text-align: right;
  right: 10px;
}
.shopping img{
  width: 30px;
}
.shopping span{
  background-color: red;
  border-radius: 30%;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: -10px;
  right: 0px;
  padding: 0px 1px;
}
.my_cart{
  position: fixed;
  top:0px;
  left:100;
  width: 300px;
  z-index: 200;
  right: 0px;
  background-color: burlywood;
  height: 100vh;
  transition: 0.5s;
  display:none;
  overflow-y: auto;
}
.my_cart h1{
  text-align: center;
}
.my_cart .checkout{
  bottom: 0;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
} 
.my_cart  .checkout div{
  background-color: yellow;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.closeShopping{
  background-color: black;
  color: white;
  cursor: pointer;
}
.active .my_cart{
  display: block;
}
.danger{
  box-shadow: 0 10px 10px yellow;
  transform: translate(0, -10px);
}
.cart_box{
  display: grid;
  grid-template-columns: 32%  50%   18%;
  align-items: center;
  gap:1rem;
  margin-top: 1rem;
  
}
.cart_img{
  width: 90%;
  object-fit: contain;
  padding: 10px;
}
.detail_box{
  display: grid;
  row-gap: 0.5rem;
}
.cart_title{
  font-size: 1rem;
  text-transform: uppercase;
}
.card_price{
  font-weight: 500;
}
.cart_quantity{
  border: 1px solid green;
  outline-color: red;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}
.bxs-trash-alt{
  font-size: 20px;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid rgb(71, 198, 230);
}
.total_title{
  font-size: 1rem;
  font-weight: bold;
}

.total_price{
  margin-left: 0.5rem ;
}

.btn-button{
  display: flex;
  margin: 1.5rem auto 1rem auto;
  padding: 12px 20px;
  font-weight:bold ;
  background: linear-gradient(to right, green ,rgb(71, 198, 230));
  cursor: pointer;
}
.btn-button:hover{
  background: red;
}
.closeShopping{
  position: absolute;
  bottom: 0px;
}
.my_cart .active {
  display: block;
}
