*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}
body{
    color: aliceblue;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: rgb(241, 238, 8);
    text-decoration: none;
    font-weight: 600;
    /* text-shadow: 1px 1px 2px black, 0 0 25px rgb(192, 230, 23), 0 0 5px rgb(235, 174, 6); */
}
.logo:hover{ 
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(192, 230, 23), 0 0 5px rgb(235, 174, 6);
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: rgb(245, 222, 16);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    /* text-shadow: 1px 1px 2px black, 0 0 25px rgb(192, 230, 23), 0 0 5px rgb(235, 174, 6); */
}
.navbar a:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(192, 230, 23), 0 0 5px rgb(235, 174, 6);
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(image/5053309.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home img{
    position: relative;
    border: 1px solid rgb(238, 215, 10);
    margin: 5px;
    width: 300px;
    top: 100px;
    left: 800px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px 10px rgba(216, 238, 14, 0.5)
    
}
.home-content{
    max-width: 600px;
    position: absolute;
    top: 600px;
    left: 300px;
    font-size: 30px;
    
}
.home-content h3{
    font-size: 35px;
}
.home-content p{
    font-size: 20px;
}
.home-icon a{
   padding: 10px; 
   display: inline-flex;
   text-decoration: none;
   border: 2px solid rgb(255, 208, 0);
   border-radius: 50%;
   margin: 30px 15px;
}
.home-icon a:hover{
    background-color: yellow;
    color: yellow;
    box-shadow: 1px 1px 5px 5px rgb(230, 215, 5);
 }
 .home-content h3 .text{
    color: gold;
 }